@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Nunito', sans-serif;
}

.s-bubble {
  height: 80px;
  width: 80px;
  background-color: #C26CCA;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 8px solid #9A4A9A;
}

.s-not-bubble {
  height: 80px;
  width: 80px;
  background-color: #CFCFCF;
  color: #7A7A7A;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 8px solid #7A7A7A;
}